@import "./variables";

.sc-columns:not(.wp-block) {
	display: grid;

	@for $size from 1 through $maxCols {
		&.sc-columns--cols-#{$size} {
			grid-template-columns: repeat($size, 1fr);
		}
	}

	@each $tag, $value in $gapOptions {
		&.sc-columns--row-gap-#{$tag} {
			row-gap: $value;
		}

		&.sc-columns--col-gap-#{$tag} {
			column-gap: $value;
		}
	}
}
